@page "{search}"
@model QA_ForumV2.Pages.Search.IndexModel
@{
}
@foreach (var item in Model.SearchList)
{
    <p>posted @item.PostTime, tag: @item.Category</p>
    <h1>@item.Title</h1>
    <p>@item.Description</p>
    @foreach (var itemu in @item.GetAllComments())
    {
        <p>@itemu</p>
    }
}
